/*
============
== Tasks ==
============
*/

.tareas .list {
	list-style: none;
}

.tareas .list li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .list li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tareas .list li a:hover {
	text-decoration: line-through;
}