/*
============
== Tasks ==
============
*/

.tasks .list {
	list-style: none;
}

.tasks .list li {
	border-bottom: 1px solid #B6B6B6;
}

.tasks .list li p {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}

.tasks .list li p:hover {
	text-decoration: line-through;
}